/* heading and logo */

h1 {
    font-family: Palanquin Dark, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 25px;   
    margin-top: 0px;
}

/* menu heading */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#logo, #menu {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid black;
}