h1 {
    font-family: Palanquin Dark, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 20px;   
    margin-top: 40px;
}

/* menu heading */

header {
    background-color: #27902B;
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;    
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#logo, #menu { 
    line-height: 40px;    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    height: auto;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

/* Admiral image */

.admiral-image img{
    height: 120px;
    width: 120px;
    margin: 0px 0px 0px 30px;
    border-radius: 100%;
    float: left;
}

/* Footer style */

footer{
    background-color: #ff7900;
    height: 80px;
}

.footer-content{
    text-align: center; 
}

.footer-content li{
    display: inline;
}

.footer-content i{
    font-size: 160%;
    margin-bottom: 100px;
    padding: 0 100px 0 200px;
    color: black;
}