h1 {
    font-family: Palanquin Dark, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 150px;   
    margin-top: 15px;
}

/* menu heading */

header {
    background-color: #27902B;
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;    
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#logo, #menu { 
    line-height: 40px;    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: -10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    height: auto;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

/* Admiral image */

#admiral-image {
        background: url('../images/Almirante\ da\ ilha.png') no-repeat left left;  
         
}